---
import { Card } from '@/components/Card.astro';
import { Section } from '@/components/Section.astro';
import { SimpleLayout } from '@/components/SimpleLayout.astro';

const description = 'Hardware I code on, software I code with, and other fancy things I use.';
---

<SimpleLayout
  title={description}
  intro="I get asked a lot about the things I use to build software, stay productive, or buy to fool myself into thinking I'm being productive when I'm really just procrastinating. Here's a big list of all of my favorite stuff."
>
  <div class="space-y-20">
    <Section title="Workstation">
      <ul role="list" class="space-y-16">
        <Card as="li">
          <Card.Title as="h3">16" MacBook Pro, M1 Max, 64GB RAM (2021)</Card.Title>
          <Card.Description>
            I was using an Intel-based 16" MacBook Pro prior to this and the
            difference is night and day. The M1 is so efficient that the fans
            hardly ever turn on and my battery lasts forever. Even when I get
            the low battery warning, I know I have plenty of time before I
            need to plug in.
          </Card.Description>
        </Card>

        <Card as="li">
          <Card.Title as="h3" href="https://www.amazon.com/Apple-32-inch-Pro-Display-Retina/dp/B082M1P2ZQ/ref=sr_1_3?crid=97JRN092HJKI&amp;keywords=xdr&amp;qid=1686707795&amp;sprefix=xdr%252Caps%252C89&amp;sr=8-3&amp;ufe=app_do%253Aamzn1.fos.ac2169a1-b668-44b9-8bd0-5ec63b24bcb5&_encoding=UTF8&tag=robbiethewagn-20&linkCode=ur2&linkId=78886a36938f98014a3d32ca6f369e5a&camp=1789&creative=9325">
            Apple Pro Display XDR (Nano-texture Glass)
          </Card.Title>
          <Card.Description>
            Everyone jokes about how much the stand costs, but this display
            slaps. Best monitor I have ever used, hands down. The nano-texture
            glass is amazing and it feels like you could reach out and touch
            the pixels.
          </Card.Description>
        </Card>

        <Card as="li">
          <Card.Title as="h3" href="https://www.amazon.com/Logitech-Wireless-Ergonomic-Keyboard-Wrist/dp/B07ZWK2TQT/ref=sr_1_1_sspa?crid=2PB4HRSEDI8MQ&amp;keywords=logitech+ergo&amp;qid=1686739094&amp;sprefix=logitech+ergo%252Caps%252C87&amp;sr=8-1-spons&amp;ufe=app_do%253Aamzn1.fos.18ed3cb5-28d5-4975-8bc7-93deae8f9840&amp;psc=1&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExV0hNUVQwUkhVVTEyJmVuY3J5cHRlZElkPUEwMzIwNzQ2MUdYTEIzN1lRWTRUVyZlbmNyeXB0ZWRBZElkPUEwOTczNDI4WjhHWTJEN1hWT1NOJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==&_encoding=UTF8&tag=robbiethewagn-20&linkCode=ur2&linkId=f70c43d3c7643fcff46f2b0ee4e8ef87&camp=1789&creative=9325">
            Logitech ERGO K860 Wireless Ergonomic Keyboard
          </Card.Title>
          <Card.Description>
            This keyboard does a good job at being slightly more ergonomic,
            while still feeling mostly like a traditional typing experience.
            It is a quick way to reduce some wrist strain, without the steep
            learning curve of something like a Kinesis Advantage.
          </Card.Description>
        </Card>

        <Card as="li">
          <Card.Title as="h3" href="https://www.amazon.com/Logitech-Vertical-Wireless-Mouse-Rechargeable/dp/B07FNJB8TT?&_encoding=UTF8&tag=robbiethewagn-20&linkCode=ur2&linkId=3c06eeacb52a64040e1e26e9e6f2aa1a&camp=1789&creative=9325">
            Logitech MX Vertical Wireless Mouse
          </Card.Title>
          <Card.Description>
            Like many developers, or any humans who use computers all day, I
            have a lot of wrist pain. This Logitech MX vertical mouse helps
            mitigate some of the pain and I'll take all the help I can get.
          </Card.Description>
        </Card>

        <Card as="li">
          <Card.Title as="h3" href="https://www.amazon.com/Herman-Miller-Aeron-Chair-Graphite/dp/B01N0ZUN15/ref=sr_1_6?keywords=herman+miller+aeron&amp;qid=1686707683&amp;sr=8-6&amp;ufe=app_do%253Aamzn1.fos.ac2169a1-b668-44b9-8bd0-5ec63b24bcb5&_encoding=UTF8&tag=robbiethewagn-20&linkCode=ur2&linkId=486c2423c950f08b9c0ad542b688e717&camp=1789&creative=9325">
            Herman Miller Aeron Chair
          </Card.Title>
          <Card.Description>
            This is the gold standard of desk chairs for a reason. It's both
            ergonomic and actually comfortable in various positions. This
            allows you to have as good or as bad posture as you'd like, while
            still remaining comfortable all day. It is endlessly adjustable,
            so it is comfortable for just about anyone.
          </Card.Description>
        </Card>
      </ul>
    </Section>

    <Section title="Development tools">
      <ul role="list" class="space-y-16">
        <Card as="li">
          <Card.Title as="h3" href="https://code.visualstudio.com/">
            VSCode
          </Card.Title>
          <Card.Description>
            VSCode is nothing new or flashy these days, but it's still the
            best code editor out there right now. It has extensions for every
            language you can think of and is extremely customizable to allow
            for whatever coding experience you prefer.
          </Card.Description>
        </Card>

        <Card as="li">
          <Card.Title as="h3" href="https://www.warp.dev/">
            Warp
          </Card.Title>
          <Card.Description>
            Warp has been my terminal of choice for awhile now. It has a lot
            of great features, like saving your history in the cloud, so you
            always know what commands to run, grouping your commands and their
            output and making them shareable, and new fancy AI features.
          </Card.Description>
        </Card>
      </ul>
    </Section>

    <Section title="Podcasting">
      <ul role="list" class="space-y-16">
        <Card as="li">
          <Card.Title as="h3" href="https://www.amazon.com/Electro-Voice-RE20-BLACK-Broadcast-Microphone-RE20/dp/B08P7QTZM5/ref=sxts_rp_s_a_1_0?&_encoding=UTF8&tag=robbiethewagn-20&linkCode=ur2&linkId=47048637966798f88c575f21df7747dc&camp=1789&creative=9325">
            Electro-Voice RE20 Dynamic Broadcast Announcer Microphone
          </Card.Title>
          <Card.Description>
            The Shure SM7B might be the gold standard for podcast microphones,
            but, if so, the Electro-Voice RE20 must be platinum. This thing
            makes everyone sound good effortlessly and gives you that
            signature podcaster sound you are looking for.
          </Card.Description>
        </Card>

        <Card as="li">
          <Card.Title as="h3" href="https://rode.com/en-us/interfaces-and-mixers/rodecaster-series/rodecaster-duo">
            RØDECaster Duo
          </Card.Title>
          <Card.Description>
            RØDE is the gold standard in podcast equipment and the RØDECaster
            Duo is no exception. After previously using the RØDECaster Pro, I
            switched to the RØDECaster Duo to have something with a smaller
            footprint on my desk and updated audio processing capabilities. It
            also has a built in preamp, which is great, so I do not need to
            use a CloudLifter with my microphone anymore.
          </Card.Description>
        </Card>

        <Card as="li">
          <Card.Title as="h3" href="https://www.amazon.com/gp/product/B07N8J3XN9/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">
            Sony a7 III
          </Card.Title>
          <Card.Description>
            This is a good option for a camera because it is renewed and not
            quite as expensive as a brand new one, but is still a super
            amazing camera, in my opinion.
          </Card.Description>
        </Card>

        <Card as="li">
          <Card.Title as="h3" href="https://www.amazon.com/gp/product/B07B9VNL8H/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">
            Sigma 35mm F1.4 Art DG HSM
          </Card.Title>
          <Card.Description>
            I don't know a lot about camera lenses, but this one has worked
            great for me. I use it a couple feet away from where I sit, and it
            looks great and has some really nice background blur.
          </Card.Description>
        </Card>
      </ul>
    </Section>

    <Section title="Productivity">
      <ul role="list" class="space-y-16">
        <Card as="li">
          <Card.Title as="h3" href="https://thebrowser.company/">
            Arc Browser
          </Card.Title>
          <Card.Description>
            It's been a long time since a new browser came out that really
            changed the game. Arc has a ton of great features, like a command
            palette, spaces, and best of all, auto closing tabs.
          </Card.Description>
        </Card>
      </ul>
    </Section>
  </div>
</SimpleLayout>

